*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: 1.4rem; }

.landing__title {
  font-family: "Roboto", sans-serif;
  font-size: 4.6rem;
  font-weight: 400;
  letter-spacing: 1rem;
  color: #fff;
  text-transform: lowercase;
  text-align: center; }

.small-paragraph-white {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.4rem; }

.small-paragraph-black {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.4rem; }

.paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  color: #111;
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: 0.2rem; }

.small-title-white {
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  color: #fff;
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 0.8rem;
  line-height: 4.6rem; }

.small-title-black {
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  color: #111;
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 0.8rem;
  line-height: 4.6rem; }

.landing__title {
  font-family: "Roboto", sans-serif;
  font-size: 4.6rem;
  font-weight: 400;
  letter-spacing: 1rem;
  color: #fff;
  text-transform: lowercase;
  text-align: center; }

.small-paragraph-white {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.4rem; }

.small-paragraph-black {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.4rem; }

.paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  color: #111;
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: 0.2rem; }

.small-title-white {
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  color: #fff;
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 0.8rem;
  line-height: 4.6rem; }

.small-title-black {
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  color: #111;
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 0.8rem;
  line-height: 4.6rem; }

.nav-link {
  font-size: 2rem; }

.navbar-brand {
  font-size: 2.2rem; }

.landing {
  background: url("../images/greens.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .landing__btn {
    color: #fff;
    font-size: 2rem;
    padding: 0.2em;
    border: 0.2rem solid #fff; }

.about {
  background-color: #b2cecd;
  width: 100%;
  min-height: 40vh;
  display: flex;
  align-items: center; }

.about-span {
  font-style: italic;
  font-weight: 600; }

.project {
  width: 100%;
  min-height: 70vh; }
  .project__box1 {
    background: linear-gradient(70deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../images/male1.jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    min-height: 70vh;
    display: flex; }
    .project__box1-text {
      background: rgba(0, 0, 0, 0.5);
      padding: 0.3em;
      color: #fff;
      align-self: flex-end;
      font-style: italic; }
  .project__box2 {
    background: url("../images/striped-medium.jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    min-height: 70vh; }

.projectOne {
  width: 100%;
  min-height: 50vh; }
  .projectOne__box1 {
    background-color: #111;
    width: 100%;
    min-height: 50vh;
    align-items: flex-end; }
    .projectOne__box1-img {
      width: 27rem;
      height: 16.3rem; }
  .projectOne__box2 {
    background-color: #b2cecd;
    width: 100%;
    min-height: 50vh; }
    .projectOne__box2-img {
      max-width: 29rem;
      max-height: 19rem; }
  .projectOne__box3 {
    background: linear-gradient(70deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("../images/leaf.jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center; }

.creative__box {
  width: 50rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .creative__box h3 {
    text-align: center; }
  .creative__box .btn {
    padding: 0.4em 2em; }

.landing__title {
  font-family: "Roboto", sans-serif;
  font-size: 4.6rem;
  font-weight: 400;
  letter-spacing: 1rem;
  color: #fff;
  text-transform: lowercase;
  text-align: center; }

.small-paragraph-white {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.4rem; }

.small-paragraph-black {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.4rem; }

.paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  color: #111;
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: 0.2rem; }

.small-title-white {
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  color: #fff;
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 0.8rem;
  line-height: 4.6rem; }

.small-title-black {
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  color: #111;
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 0.8rem;
  line-height: 4.6rem; }

.creative {
  background-color: #b2cecd;
  width: 100%;
  min-height: 30vh; }
  .creative__design {
    position: relative; }
    .creative__design-text {
      position: absolute;
      top: 10px;
      left: 10px; }
    .creative__design-img1 {
      width: 100%;
      height: 100%; }
    .creative__design-img2 {
      width: 100%;
      height: 100%; }

.landing__title {
  font-family: "Roboto", sans-serif;
  font-size: 4.6rem;
  font-weight: 400;
  letter-spacing: 1rem;
  color: #fff;
  text-transform: lowercase;
  text-align: center; }

.small-paragraph-white {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.4rem; }

.small-paragraph-black {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.4rem; }

.paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  color: #111;
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: 0.2rem; }

.small-title-white {
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  color: #fff;
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 0.8rem;
  line-height: 4.6rem; }

.small-title-black {
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  color: #111;
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 0.8rem;
  line-height: 4.6rem; }

.form {
  background-color: #b2cecd;
  width: 100%;
  min-height: 50vh; }
  .form__container {
    min-height: 50vh; }
  .form .row {
    width: 100%; }
  .form label {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    color: #333; }
  .form input {
    width: 100%;
    font-size: 1.6rem; }
  .form-btn {
    font-size: 1.6rem;
    padding: 0.5em 1.5em;
    margin-top: 1rem; }
  .form textarea {
    width: 100%;
    margin-top: 1.4rem;
    border: none; }

.footer {
  background-color: #333;
  width: 100%;
  min-height: 16vh; }
  .footer__address {
    color: #fff;
    font-size: 1.6rem; }
    .footer__address i {
      color: #fff; }
  .footer__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 1.8rem; }
    .footer__links a {
      color: #fff; }
    .footer__links i:hover {
      color: #b2cecd;
      transform: scale(1.2);
      transition: ease-in-out 0.2s; }

@media screen and (min-width: 600px) {
  .creative__design-text {
    top: 230px;
    left: 50px; } }
@media screen and (min-width: 750px) {
  .landing__title {
    font-size: 6rem; }

  .small-title {
    font-size: 4rem; }

  .paragraph {
    font-size: 2.6rem; }

  .projectOne__box1-img {
    width: 32rem;
    height: 21.3rem; }

  .projectOne__box2-img {
    max-width: 36rem;
    max-height: 26rem; }

  .small-title-white {
    font-size: 3.6rem; }

  .small-title-black {
    font-size: 3.6rem; } }
@media screen and (min-width: 900px) {
  .landing__title {
    font-size: 8rem; }

  .small-title {
    font-size: 5rem; }

  .paragraph {
    font-size: 3.2rem; }

  .projectOne__box3 {
    justify-content: flex-end; }

  .creative__box {
    flex-direction: column;
    align-items: center;
    justify-content: space-around; } }

/*# sourceMappingURL=style.css.map */
