*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: 1.4rem;
  background-color: #fff; }

.nav-link {
  font-family: "Roboto Slab", serif;
  font-size: 1.8rem;
  color: #fff; }

.header__title {
  font-family: "Roboto Slab";
  font-size: 3.6rem;
  color: #fff;
  font-weight: 400;
  text-align: center; }
.header__sub {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #fff;
  font-style: italic;
  text-align: center; }

.title__dark {
  font-family: "Roboto Slab", serif;
  font-size: 2.6rem;
  color: #111;
  min-height: 9rem;
  padding-top: 1em; }

.title__light {
  font-family: "Roboto Slab", serif;
  font-size: 2.6rem;
  color: #fff;
  min-height: 8rem;
  padding-top: 1em; }

.paragraph__dark {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #111;
  margin-bottom: 1em; }

.paragraph__light {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 1em; }

.nav-link {
  font-family: "Roboto Slab", serif;
  font-size: 1.8rem;
  color: #fff; }

.header__title {
  font-family: "Roboto Slab";
  font-size: 3.6rem;
  color: #fff;
  font-weight: 400;
  text-align: center; }
.header__sub {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #fff;
  font-style: italic;
  text-align: center; }

.title__dark {
  font-family: "Roboto Slab", serif;
  font-size: 2.6rem;
  color: #111;
  min-height: 9rem;
  padding-top: 1em; }

.title__light {
  font-family: "Roboto Slab", serif;
  font-size: 2.6rem;
  color: #fff;
  min-height: 8rem;
  padding-top: 1em; }

.paragraph__dark {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #111;
  margin-bottom: 1em; }

.paragraph__light {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 1em; }

.header {
  position: relative; }
  .header__bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("../images/daytime-mountain.jpg") no-repeat center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    border-bottom-right-radius: 5px;
    background-size: cover;
    width: 100%;
    min-height: 85vh; }
  .header__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.about {
  min-height: 40vh;
  display: flex;
  align-items: center; }

.nav-link {
  font-family: "Roboto Slab", serif;
  font-size: 1.8rem;
  color: #fff; }

.header__title {
  font-family: "Roboto Slab";
  font-size: 3.6rem;
  color: #fff;
  font-weight: 400;
  text-align: center; }
.header__sub {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #fff;
  font-style: italic;
  text-align: center; }

.title__dark {
  font-family: "Roboto Slab", serif;
  font-size: 2.6rem;
  color: #111;
  min-height: 9rem;
  padding-top: 1em; }

.title__light {
  font-family: "Roboto Slab", serif;
  font-size: 2.6rem;
  color: #fff;
  min-height: 8rem;
  padding-top: 1em; }

.paragraph__dark {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #111;
  margin-bottom: 1em; }

.paragraph__light {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 1em; }

.leaders {
  background: url("../images/black-mountain.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center; }
  .leaders__box {
    margin: 0 auto;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.overlay-leaders {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  clip-path: polygon(0 50%, 100% 89%, 100% 100%, 0% 100%);
  width: 100%;
  height: 100%; }

.stories {
  background: url("../images/spring-mountain.jpg") no-repeat center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 61%, 0% 100%);
  width: 100%;
  height: 100vh;
  position: relative; }

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  clip-path: polygon(0 0, 100% 0, 100% 61%, 0% 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.stories__reports-img {
  width: 100%;
  height: auto; }
.stories__articles-img {
  width: 100%;
  height: auto; }
.stories__blog-img {
  width: 100%;
  height: auto; }

@media screen and (min-width: 750px) {
  .header__wrapper {
    width: 60rem; }
  .header__title {
    font-size: 4.8rem; }
  .header__sub {
    width: 48rem; }

  .title__dark,
  .title__light {
    font-size: 3rem; }

  .paragraph__dark,
  .paragraph__light {
    font-size: 2rem; } }
@media screen and (min-width: 900px) {
  .header__wrapper {
    width: 60rem; }
  .header__title {
    font-size: 5rem; }
  .header__sub {
    width: 48rem; }

  .title__dark,
  .title__light {
    font-size: 3.8rem; } }

/*# sourceMappingURL=style.css.map */
