@import "color";
@import "font";

// Navigation
.nav-link {
  font-size: 2rem;
}
.navbar-brand {
  font-size: 2.2rem;
}

// Landing page section
.landing {
  background: url("../images/greens.webp") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__btn {
    color: $text-white;
    font-size: 2rem;
    padding: 0.2em;
    border: 0.2rem solid $text-white;
  }
}

// About section
.about {
  background-color: $pistage;
  width: 100%;
  min-height: 40vh;
  display: flex;
  align-items: center;
  padding: 1em;
}

.paragraph {
  font-size: 2rem;
}

.about-span {
  font-style: italic;
  font-weight: 600;
}

// Projects section
.project {
  width: 100%;
  min-height: 70vh;

  &__box1 {
    background: linear-gradient(70deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
      url("../images/male1.jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    min-height: 70vh;
    display: flex;
    &-text {
      background: rgba(0, 0, 0, 0.5);
      padding: 0.4em;
      color: $text-white;
      font-style: italic;
    }
  }

  &__box2 {
    background: url("../images/striped-medium.jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    min-height: 70vh;
  }
}

.projectOne {
  width: 100%;
  min-height: 50vh;
  &__box1 {
    background-color: $text-black;
    width: 100%;
    min-height: 50vh;
    align-items: flex-end;
    &-img {
      width: 27rem;
      height: 16.3rem;
    }
  }
  &__box2 {
    background-color: $pistage;
    width: 100%;
    min-height: 50vh;
    &-img {
      max-width: 29rem;
      max-height: 19rem;
    }
  }
  &__box3 {
    background: linear-gradient(70deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
      url("../images/leefs.webp") no-repeat center;
    background-size: cover;
    object-fit: contain;
    max-width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.creative__box {
  width: 50rem;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  h3 {
    text-align: center;
  }
  .btn {
    padding: 0.4em 2em;
  }
}
