@import "color";
@import "font";
@import "mixin";

.landing {
  background: url("../images/greens.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__btn {
    color: $text-white;
    font-size: 2rem;
    padding: 0.2em;
    border: 0.2rem solid $text-white;
  }
}

.about {
  background-color: $pistage;
  width: 100%;
  height: 30vh;
}
