@import "font";

// Navigation
.header {
  position: relative;
  &__bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
      url("../images/daytime-mountain.jpg") no-repeat center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    border-bottom-right-radius: 5px;

    background-size: cover;
    width: 100%;
    min-height: 85vh;
  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// About Us section
.about {
  min-height: 40vh;
  display: flex;
  align-items: center;
}
