@import "color";
@import "font";
@import "mixin";

.creative {
  background-color: $pistage;
  width: 100%;
  min-height: 30vh;
  &__design {
    position: relative;
    &-text p {
      max-width: 66rem;
    }
    &-img1 {
      @include creative-img;
      background-image: url("../images/male-portrait.jpg");
      height: 50rem;
    }
    &-img2 {
      @include creative-img;
      background-image: url("../images/zebra.jpg");
      height: 50rem;
    }
  }
}
