@import "color";
@import "font";

.creative {
  background-color: $pistage;
  width: 100%;
  min-height: 30vh;
  &__design {
    position: relative;
    &-text p {
      max-width: 66rem;
    }
    &-img1 {
      background: url("../images/male-portrait.jpg") no-repeat center;
      background-size: cover;

      width: 100%;
      height: 50rem;
    }
    &-img2 {
      background: url("../images/zebra.jpg") no-repeat center;
      background-size: cover;
      width: 100%;
      height: 50rem;
    }
  }
}
