@import "color";
@import "mixin";

.landing {
  &__title {
    font-family: "Roboto", sans-serif;
    font-size: 4.6rem;
    font-weight: 400;
    letter-spacing: 1rem;
    color: $text-white;
    text-transform: lowercase;
    text-align: center;
  }
}

.small-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.8rem;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
  color: $text-black;
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: 0.2rem;
}
