@import "color";
@import "font";
@import "mixin";

.form {
  background-color: $pistage;
  width: 100%;
  min-height: 50vh;
  &__container {
    min-height: 50vh;
  }
  .row {
    width: 100%;
  }
  label {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    color: $gray;
  }
  input {
    width: 100%;
    font-size: 1.6rem;
  }
  &-btn {
    font-size: 1.6rem;
    padding: 0.5em 1.5em;
    margin-top: 1rem;
  }
  textarea {
    width: 100%;
    margin-top: 1.4rem;
    border: none;
  }
}

// Footer
.footer {
  background-color: $gray;
  width: 100%;
  min-height: 16vh;
  &__address {
    color: $text-white;
    font-size: 1.6rem;
    i {
      color: $text-white;
    }
  }
  &__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 1.8rem;

    a {
      color: $text-white;
    }
    i:hover {
      color: $pistage;
      transform: scale(1.2);
      transition: ease-in-out 0.2s;
    }
  }
}
