@import "color";

@mixin title-black {
  font-family: "Roboto Slab", serif;
  font-size: 2.6rem;
  color: $text-black;
  min-height: 9rem;
  padding-top: 1em;
}

@mixin title-white {
  font-family: "Roboto Slab", serif;
  font-size: 2.6rem;
  color: $text-white;
  min-height: 8rem;
  padding-top: 1em;
}

@mixin paragraph-black {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: $text-black;
  margin-bottom: 1em;
}

@mixin paragraph-white {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: $text-white;
  margin-bottom: 1em;
}
