@import "reset";
@import "color";
@import "font";
@import "mixin";

@import "about";
@import "leaders";
@import "form";

// Media Queries

// For screens between 750px - 900px
@media screen and (min-width: 750px) {
  .header {
    &__wrapper {
      width: 60rem;
    }
    &__title {
      font-size: 4.8rem;
    }
    &__sub {
      width: 48rem;
    }
  }
  .title__dark,
  .title__light {
    font-size: 3rem;
  }
}

// For screens between 900px and up
@media screen and (min-width: 900px) {
  .header {
    &__wrapper {
      width: 60rem;
    }
    &__title {
      font-size: 5rem;
    }
    &__sub {
      width: 48rem;
    }
  }
  .about {
    min-height: 40rem;
  }
  .leaders__box {
    width: 68%;
    height: 40rem;
  }
  .title__dark,
  .title__light {
    font-size: 3.8rem;
  }

  .paragraph__dark,
  .paragraph__light {
    font-size: 2rem;
  }
}
